h2 {
  margin: 0;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.4;
  color: var(--text-color);
  text-align: center;
  word-break: break-word;
}

p {
  color: var(--text-color);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 16px;
}
